.flex-column {
    display: flex !important;
    flex-direction: column !important;
}

.vertical-form {
    @extend .flex-column;
    width: 25rem;

    @media screen and (max-width: 1022px) {
        width: 21.25rem;
    }

    .field {
        margin-bottom: 1.875rem;
    }
}

.field {
    &.inline {
        flex-direction: row !important;
    }
}

